/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-swal {
    margin-top: 20px; /* Adjust top spacing if needed */
}


:root {
    --background-color: #ffffff;
    --text-color: #000000;
  }
  
  [data-theme="dim"] {
    --background-color: #1a1a1a;
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  